body{
    overflow-x: hidden;
}
/** Text Gradient Example */ 
/** Text Gradient Example */ 
.text-gradient {
 color: #39FF14; 
 background-image: linear-gradient(45deg, #39FF14 , #2BFD6A , #1DFBA1 , #0FE9D8 , #00D7FF ); 
 background-clip: text; 
 -webkit-background-clip: text; 
 -webkit-text-fill-color: transparent; 
}

.bg-gradient{
    background: #424040;
    background: linear-gradient(90deg, rgba(66, 64, 64, 1) 0%, rgba(180, 194, 186, 1) 50%, rgba(245, 242, 242, 1) 100%);
}